{
  "openapi": "3.0.0",
  "info": {
    "title": "DMS",
    "description": "DMS API",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://api.nextlane.io/dms/v1",
      "description": "Production"
    }
  ],
  "paths": {
    "/dealerships/{dealershipId}/clients": {
      "get": {
        "tags": [
          "Client"
        ],
        "summary": "Retrieve all clients filter by criteria",
        "description": "Retrieve all clients filter by criteria\n\nThe content of the result can be impacted based on the Details Parameter. Below are the possible values for the Details Field            \n| Detail         | Description                                                              |\n|----------------|--------------------------------------------------------------------------|\n| Addresses      | Client Addresses (ClientBaseClass.Addresses)                             |\n| Communications | Client phone number and email addresses (ClientBaseClass.Communications) |\n| Complements    | Client complementary (key value) data (ClientBaseClass.Complements)      |\n| Consents       | Client GDPR Consents (ClientBaseClass.Consents)                          |\n",
        "operationId": "getClients",
        "parameters": [
          {
            "$ref": "#/components/parameters/Range"
          },
          {
            "$ref": "#/components/parameters/dealershipId"
          },
          {
            "name": "criteria",
            "in": "query",
            "description": "### Attributes supported\n| Attribute       | Type    | Description                                                              | Example                |\n|-----------------|---------|--------------------------------------------------------------------------|------------------------|\n| AccountTypeID   | String  | Type of client                                                           | 52334                  |\n| City            | String  | name of city                                                             | Tatooine               |\n| CompanyName     | String  | Name of the company                                                      | Light Company          |\n| CONTRACT        | String  |                                                                          |                        |\n| email           | String  | Email address                                                            | luke@skywalker.com     |\n| FirstName       | String  | first name                                                               | Luke                   |\n| FiscalNumber    | Number  | fiscal number (NIP = reserved to         Poland, to Spain and Italy)     | 13423421232            |\n| IsAccountLocked | Boolean | Defines if the account is blocked         (no invoicing allowed)         | false                  |\n| IsCompany       | Boolean | Defines if the client is a company (else         it is a private person) | true                   |\n| LastName        | String  | last name                                                                | Skywalker              |\n| LastUpdateDate  | Date    | date of last update of used-car data                                     | 2023-06-01T11:47:04.02 |\n| phone           | String  |                                                                          | 0600000000             |\n| siren           | String  |                                                                          | 123456824              |\n| StrippedPhone   | String  |                                                                          |                        |\n| VATNumber       | Number  | EEC VAT number                                                           | FR40123456824          |\n\n### Retrieved by Ids\nIf you search by Ids (InternalClientID), other criteria are ignored\n``\nids=in:id1,id2,id3\n``\n\n### Main operators supported\n| Operator | Value       |\n|----------|-------------|\n| eq       |  =          |\n| ne       | !=          |\n| gt       | >           |\n| gte      | >=          |\n| lt       | <           |\n| lte      | <=          |\n| like     | LIKE        |\n| notlike  | NOT LIKE    |\n| in       | IN          |\n| notin    | NOT IN      |\n| isnull   | IS NULL     |\n| notnull  | IS NOT NULL |\n",
            "required": true,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "object",
              "additionalProperties": {
                "pattern": "name=operator:value",
                "type": "string"
              },
              "example": {
                "FirstName": "eq:Luke",
                "LastName": "like:%WAL%"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Client.IWB_ClientGetResults"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "security": [
          {
            "api_key": []
          }
        ]
      },
      "put": {
        "tags": [
          "Client"
        ],
        "summary": "Update clients",
        "description": "Update clients",
        "operationId": "updateClients",
        "parameters": [
          {
            "$ref": "#/components/parameters/dealershipId"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/BODS.IWB_ClientBaseClass"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Client.IWB_ClientSetResults"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "security": [
          {
            "api_key": []
          }
        ]
      },
      "post": {
        "tags": [
          "Client"
        ],
        "summary": "Create clients",
        "description": "Create clients",
        "operationId": "createClients",
        "parameters": [
          {
            "$ref": "#/components/parameters/dealershipId"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/BODS.IWB_ClientBaseClassWithoutId"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Client.IWB_ClientSetResults"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "security": [
          {
            "api_key": []
          }
        ]
      }
    },
    "/dealerships/{dealershipId}/client-orders/{clientOrderId}": {
      "get": {
        "tags": [
          "ClientOrder"
        ],
        "summary": "Retrieve a client order by id",
        "description": "Retrieve a client order data for a given ***InternalFolderID*** provided as clientOrderId.\n",
        "operationId": "getClientOrder",
        "parameters": [
          {
            "$ref": "#/components/parameters/dealershipId"
          },
          {
            "$ref": "#/components/parameters/clientOrderId"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PartsSales.IWB_ClientOrderGetResult"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "security": [
          {
            "api_key": []
          }
        ]
      }
    },
    "/dealerships/{dealershipId}/client-orders": {
      "get": {
        "tags": [
          "ClientOrder"
        ],
        "summary": "Retrieve all client orders filter by criteria",
        "description": "Retrieve all client orders filter by criteria",
        "operationId": "getClientOrders",
        "parameters": [
          {
            "$ref": "#/components/parameters/Range"
          },
          {
            "$ref": "#/components/parameters/dealershipId"
          },
          {
            "name": "criteria",
            "in": "query",
            "description": "### Attributes supported\n| Attribute        | Type   | Description                            | Example           |\n|------------------|--------|----------------------------------------|-------------------|\n| Brand            | String | Description of the brand in plain text | RENAULT           |\n| InternalClientID | String | id of the client (invoicing)           | 20003             |\n| InternalFolderID | String | internal Folder ID                     | 100004            |\n| VIN              | String | Vehicle Identification Number          | VF1112800C0235406 |\n\n### Retrieved by Ids\nIf you search by Ids (InternalFolderID), other criteria are ignored\n``\nids=in:id1,id2,id3\n``\n\n### Main operators supported\n| Operator | Value       |\n|----------|-------------|\n| eq       |  =          |\n| ne       | !=          |\n| gt       | >           |\n| gte      | >=          |\n| lt       | <           |\n| lte      | <=          |\n| like     | LIKE        |\n| notlike  | NOT LIKE    |\n| in       | IN          |\n| notin    | NOT IN      |\n| isnull   | IS NULL     |\n| notnull  | IS NOT NULL |\n",
            "required": true,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "object",
              "additionalProperties": {
                "pattern": "name=operator:value",
                "type": "string"
              },
              "example": {
                "InternalClientID": "eq:1231313"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PartsSales.IWB_ClientOrderGetResults"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "security": [
          {
            "api_key": []
          }
        ]
      },
      "put": {
        "tags": [
          "ClientOrder"
        ],
        "summary": "Update client-order",
        "description": "Update client-order",
        "operationId": "updateClientOrder",
        "parameters": [
          {
            "$ref": "#/components/parameters/dealershipId"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BODS.IWB_ClientPartOrder"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "security": [
          {
            "api_key": []
          }
        ]
      },
      "post": {
        "tags": [
          "ClientOrder"
        ],
        "summary": "Create client-order",
        "description": "Create client-order",
        "operationId": "createClientOrder",
        "parameters": [
          {
            "$ref": "#/components/parameters/dealershipId"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BODS.IWB_ClientPartOrderWithoutId"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "security": [
          {
            "api_key": []
          }
        ]
      }
    },
    "/dealerships/{dealershipId}/subscribers/{subscriberId}/event-types/{eventTypeId}/events": {
      "get": {
        "tags": [
          "Event"
        ],
        "summary": "Retrieve all events from subscriberId and eventTypeId",
        "description": "Retrieve all event from subscriberId and eventTypeId",
        "operationId": "getEvents",
        "parameters": [
          {
            "$ref": "#/components/parameters/dealershipId"
          },
          {
            "$ref": "#/components/parameters/subscriberId"
          },
          {
            "$ref": "#/components/parameters/eventTypeId"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BODS.IWB_EventsDataReturnValues"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "security": [
          {
            "api_key": []
          }
        ]
      }
    },
    "/dealerships/{dealershipId}/subscribers/{subscriberId}/events": {
      "put": {
        "tags": [
          "Event"
        ],
        "summary": "Update events",
        "description": "Update events",
        "operationId": "updateEvents",
        "parameters": [
          {
            "$ref": "#/components/parameters/dealershipId"
          },
          {
            "$ref": "#/components/parameters/subscriberId"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/BODS.IWB_Events"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BODS.IWB_EventsDataReturnValues"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "security": [
          {
            "api_key": []
          }
        ]
      }
    },
    "/dealerships/{dealershipId}/generic-data": {
      "get": {
        "tags": [
          "GenericData"
        ],
        "summary": "Retrieve generic data",
        "description": "Retrieve generic data",
        "operationId": "getGenericData",
        "parameters": [
          {
            "$ref": "#/components/parameters/dealershipId"
          },
          {
            "name": "data",
            "in": "query",
            "description": "Comma-separated list of data types and their corresponding Ids",
            "required": true,
            "style": "form",
            "explode": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "example": "dataTypeId:dataId"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BODS.IWB_GenericDataReturnValues"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "security": [
          {
            "api_key": []
          }
        ]
      },
      "put": {
        "tags": [
          "GenericData"
        ],
        "summary": "Update generic data",
        "description": "Update generic data",
        "operationId": "updateGenericData",
        "parameters": [
          {
            "$ref": "#/components/parameters/dealershipId"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BODS.IWB_GenericData"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BaseClasses.IWB_ReturnValues"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "security": [
          {
            "api_key": []
          }
        ]
      },
      "post": {
        "tags": [
          "GenericData"
        ],
        "summary": "Create generic data",
        "description": "Create generic data",
        "operationId": "createGenericData",
        "parameters": [
          {
            "$ref": "#/components/parameters/dealershipId"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BODS.IWB_GenericData"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BaseClasses.IWB_ReturnValues"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "security": [
          {
            "api_key": []
          }
        ]
      },
      "delete": {
        "tags": [
          "GenericData"
        ],
        "summary": "Delete a generic data",
        "description": "Delete a generic data",
        "operationId": "deleteGenericData",
        "parameters": [
          {
            "$ref": "#/components/parameters/dealershipId"
          },
          {
            "name": "data",
            "in": "query",
            "description": "Comma-separated list of data types and their corresponding Ids",
            "required": true,
            "style": "form",
            "explode": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "example": "dataTypeId:dataId"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BODS.IWB_GenericDataReturnValues"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "security": [
          {
            "api_key": []
          }
        ]
      }
    },
    "/dealerships/{dealershipId}/invoices": {
      "get": {
        "tags": [
          "Invoice"
        ],
        "summary": "Retrieve all invoices filter by criteria",
        "description": "Retrieve all invoices filter by criteria\n\nFor each document, the breakdown is always as follows:\n  - Invoice general data  : Invoice Number, Invoice Date, Amount total\n  - Customer data linked Invoice\n  - Vehicle data linked Invoice\n  - VATs data\n  - Job(s) invoiced with details Items (Parts, labour, package, Misc,...).\n\n  All lines who are not link to a job/intervention, theInternalJobID= -1.\n",
        "operationId": "getInvoices",
        "parameters": [
          {
            "$ref": "#/components/parameters/Range"
          },
          {
            "$ref": "#/components/parameters/dealershipId"
          },
          {
            "name": "criteria",
            "in": "query",
            "description": "### Attributes supported            \n| Attribute            | Type   | Description                                                                                          | Example                |\n|----------------------|--------|------------------------------------------------------------------------------------------------------|------------------------|\n| DepartmentID         | String | code of the department (workshop,         body repair, shop, quick service, etc.)                    | 2                      |\n| DepartmentTypeID     | String | id of the type-of-department                                                                         | 4                      |\n| DocumentDueDate      | Date   | due date of payment                                                                                  | 2023-06-01T11:47:04.02 |\n| DocumentFiscalDate   | Date   | fiscal date of the invoice or the         credit                                                     | 2023-06-01T11:47:04.02 |\n| DocumentIssuanceDate | Date   | date of issuance of the document         (date when printed = can be different from the fiscal date) | 2023-06-01T11:47:04.02 |\n| DocumentNumber       | Number | number of the invoice or the credit         note                                                     | FAB000003              |\n| DocumentTypeDescr    | String | Description of the document type                                                                     | Invoice                |\n| FolderNumber         | Number | repair order number, over the counter               sales folder, pre-booking number                       | 6001                   |\n| InternalClientID     | String | internal client ID (this is the primary         key)                                                 | 100004                 |\n| StockID              | String | warehouse from which the parts have been taken from                                                  | 100007                 |\n| TotalExclVATAmount   | Number | grand total of the document exclusive         of VAT                                                 | 500                    |\n| TotalInclVATAmount   | Number | grand total of the document inclusive         of VAT                                                 | 550                    |\n\n### Retrieved by Ids\nIf you search by Ids (InternalDocID), other criteria are ignored\n``\nids=in:id1,id2,id3\n``\n\n### Main operators supported\n| Operator | Value       |\n|----------|-------------|\n| eq       |  =          |\n| ne       | !=          |\n| gt       | >           |\n| gte      | >=          |\n| lt       | <           |\n| lte      | <=          |\n| like     | LIKE        |\n| notlike  | NOT LIKE    |\n| in       | IN          |\n| notin    | NOT IN      |\n| isnull   | IS NULL     |\n| notnull  | IS NOT NULL |\n",
            "required": true,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "object",
              "additionalProperties": {
                "pattern": "name=operator:value",
                "type": "string"
              },
              "example": {
                "DocumentTypeDescr": "eq:Invoice",
                "DocumentDueDate": "gt:1999-12-22T00:00:00"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Invoice.IWB_GetInvoiceReturnValues"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "security": [
          {
            "api_key": []
          }
        ]
      }
    },
    "/dealerships/{dealershipId}/labours/search": {
      "post": {
        "tags": [
          "Labour"
        ],
        "summary": "Search Labours from Multi Search Criteria",
        "description": "Search Labours from Multi Search Criteria\n\nThe price of the labour depending of:\n- IsFixedPrice = true, only RateUnitValue with this amount is available in the result (without VAT) and SignedQuantity.\n- IsFixedPrice = false, RateUnitValue indicates only the value of the rate with the RateUnitCode in the DMS and GrossPrice indicates the total amount increase SignedQuantity.\n  \nWhen \"isVATinclusive\" = \"true\", the prices are inclusive of VAT. Otherwise, amounts are exclusive of VAT.      \n\nThe filter can be applied on the following fields\n| Field                | Description                                                                                                            | Operator                                                              |\n|----------------------|------------------------------------------------------------------------------------------------------------------------|-----------------------------------------------------------------------|\n| AlternateLabourCode  |                                                                                                                        | =, !=, >, >=, <, <=, LIKE, NOT LIKE, IN, NOT IN, IS NULL, IS NOT NULL |\n| BrandID              | id of the brand the spare part is ordered for                                                                          | =, !=, >, >=, <, <=, LIKE, NOT LIKE, IN, NOT IN, IS NULL, IS NOT NULL |\n| IsManufacturerLabour | Determines if the labour operation is is an official manufacturer's labour operation ; false for dealer's local labour | =, !=, IS NULL, IS NOT NULL                                           |\n| IsSublet             | Determines if the labour operation is a sublet labour operation ; false for for in-house labour                        | =, !=, IS NULL, IS NOT NULL                                           |\n| LabourDescr          | Description of the labour operation                                                                                    | =, !=, >, >=, <, <=, LIKE, NOT LIKE, IN, NOT IN, IS NULL, IS NOT NULL |\n| LabourFamCode        | Labour family code                                                                                                     | =, !=, >, >=, <, <=, LIKE, NOT LIKE, IN, NOT IN, IS NULL, IS NOT NULL |\n| LabourReference      | The complete labour operation code as it appears on invoices                                                           | =, !=, >, >=, <, <=, LIKE, NOT LIKE, IN, NOT IN, IS NULL, IS NOT NULL |\n",
        "operationId": "SearchLabours",
        "parameters": [
          {
            "$ref": "#/components/parameters/dealershipId"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": {
                  "$ref": "#/components/schemas/Labour.IWB_SearchCriteria"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Labour.IWB_GetLabourReturnValues"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "security": [
          {
            "api_key": []
          }
        ]
      }
    },
    "/dealerships/{dealershipId}/labours-price": {
      "get": {
        "tags": [
          "Labour"
        ],
        "summary": "Retrieve all labours price data",
        "description": "Retrieve all labours price data\nPayers ID are: 0=client, 1=internal transfer invoices, 2=warranty claims, 3=insurance invoices.\n\nThe imputation parameter only makes sense for warranty claims where it is the ***Trouble Code*** and the internal transfers where it is the ***cession code***.\n\nWhen the field \"isVATinclusive\" is not stated in the response or is \"false\", amounts are exclusive of VAT.\n\nWhen \"isVATinclusive\" = \"true\", the prices are inclusive of VAT.\n",
        "operationId": "getLaboursByClientAndVehicle",
        "parameters": [
          {
            "$ref": "#/components/parameters/dealershipId"
          },
          {
            "name": "vehicleId",
            "in": "query",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "clientId",
            "in": "query",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "departmentId",
            "in": "query",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "payerId",
            "in": "query",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "imputation",
            "in": "query",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ids",
            "in": "query",
            "description": "list of Part IDs",
            "required": false,
            "style": "form",
            "explode": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Labour.IWB_LabourPriceReturnValue"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "security": [
          {
            "api_key": []
          }
        ]
      }
    },
    "/dealerships/{dealershipId}/new-cars": {
      "get": {
        "tags": [
          "NewCar"
        ],
        "summary": "Retrieve all new cars filter by criteria",
        "description": "Retrieve all new cars filter by criteria\n\nThe response includes all the stock information for the new car, but also the vehicle data (detailed description of the vehicle), the options, the data for all connected clients (the client data as well as the nature of the connection with the new car).\n\nThe content of the result can be impacted based on the Details Parameter. Below are the possible values for the Details Field\n| Detail                  | Description                          |\n|-------------------------|--------------------------------------|\n| CompDates               | Vehicle complementary dates          |\n| ComplementsVeh          | Vehicle complementary data           |\n| NewCarComplementaryData | new-car additional data              |\n| NewCarDate              | new-car complementary dates          |\n| Options                 | new-car list of options              |\n| Vehicle                 | Vehicle data                         |\n| Warehouse               | the warehouse info the vehicle is in |\n",
        "operationId": "getNewCars",
        "parameters": [
          {
            "$ref": "#/components/parameters/Range"
          },
          {
            "$ref": "#/components/parameters/dealershipId"
          },
          {
            "name": "criteria",
            "in": "query",
            "description": "### Attributes supported\n| Attribute          | Type    | Description                                         | Example                |\n|--------------------|---------|-----------------------------------------------------|------------------------|\n| Brand              | String  |                                                     | RENAULT                |\n| BrandID            | String  | id of the brand the spare part is ordered for       | RE                     |            \n| InternalNewCarID   | String  | for purchase of NC = internal ID of the vehicle     | 100004                 |\n| IsAvailableForSale | Boolean | Is the vehicle available for sale                   | true                   |\n| LastUpdateDate     | Date    | date of last update of used-car data                | 2023-06-01T11:47:04.02 |\n| OrderNumber        | Number  | Order number in the production plant                | 50002                  |\n| SaleDate           | Date    | Date the vehicle was retailed to the final client   | 2023-06-01T11:47:04.02 |\n| StockEntryDate     | Date    | Date of entry of the vehicle in the physical stocks | 2023-06-01T11:47:04.02 |\n| StockID            | String  | warehouse from which the parts have been taken from | 156                    |\n| VehicleStatusID    | String  | Id of the administrative status of the vehicle      | 3                      |\n| VIN                | String  | Vehicle Identification Number                       | VF1112800C0235406      |\n\n### Retrieved by Ids\nIf you search by Ids (InternalNewCarID), other criteria are ignored\n``\nids=in:id1,id2,id3\n``\n\n### Main operators supported\n| Operator | Value       |\n|----------|-------------|\n| eq       |  =          |\n| ne       | !=          |\n| gt       | >           |\n| gte      | >=          |\n| lt       | <           |\n| lte      | <=          |\n| like     | LIKE        |\n| notlike  | NOT LIKE    |\n| in       | IN          |\n| notin    | NOT IN      |\n| isnull   | IS NULL     |\n| notnull  | IS NOT NULL |\n",
            "required": true,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "object",
              "additionalProperties": {
                "pattern": "name=operator:value",
                "type": "string"
              },
              "example": {
                "Brand": "like:%RENAULT%",
                "OrderNumber": "eq:32423422"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NewCarStock.IWB_GetNewCarReturnValues"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "security": [
          {
            "api_key": []
          }
        ]
      },
      "put": {
        "tags": [
          "NewCar"
        ],
        "summary": "Update new cars",
        "description": "Update new cars\n\nThe business rules for the update of an existing record are implemented by each DMS. When applicable, they should be explicitly stated in the warnings in the response.\nIn case of partial update (to update some of the fields), call `GET /dealerships/{dealershipId}/new-cars` first and merge the data before calling `POST /dealerships/{dealershipId}/new-cars` with the complete data, or else the existing data will be erased.\n",
        "operationId": "updateNewCars",
        "parameters": [
          {
            "$ref": "#/components/parameters/dealershipId"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/NewCarStock.IWB_NewCarStock"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NewCarStock.IWB_NewCarSetResults"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "security": [
          {
            "api_key": []
          }
        ]
      },
      "post": {
        "tags": [
          "NewCar"
        ],
        "summary": "Create new cars",
        "description": "Create new cars",
        "operationId": "createNewCars",
        "parameters": [
          {
            "$ref": "#/components/parameters/dealershipId"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/NewCarStock.IWB_NewCarStockWithoutId"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NewCarStock.IWB_NewCarSetResults"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "security": [
          {
            "api_key": []
          }
        ]
      }
    },
    "/dealerships/{dealershipId}/packages/search": {
      "post": {
        "tags": [
          "Package"
        ],
        "summary": "Search packages from Multi Search Criteria",
        "description": "Search packages from Multi Search Criteria\n\nThe response contains all the information of package header but without detail lines (parts, labour, Items).\nTo have the Total Amount Package, it's necessary to sum ***PartPriceandLabourPrice*** field and  and with ***IsPriceInclOfVAT (= Is price included of VAT) = True***, this price is included VAT.\n\nThe filter can be applied on the following fields\n| Field          | Description                                                                                          | Operator                                                              |\n|----------------|------------------------------------------------------------------------------------------------------|-----------------------------------------------------------------------|\n| BrandID        | id of the brand the spare part is ordered for                                                        | =, !=, >, >=, <, <=, LIKE, NOT LIKE, IN, NOT IN, IS NULL, IS NOT NULL |\n| CodeAPV        | Reserved for future use                                                                              | =, !=, >, >=, <, <=, LIKE, NOT LIKE, IN, NOT IN, IS NULL, IS NOT NULL |\n| Descr          | commercial description of the package (i.e. \"Maintenance 18.000 milles including oil exchange\")      | =, !=, >, >=, <, <=, LIKE, NOT LIKE, IN, NOT IN, IS NULL, IS NOT NULL |\n| InternalPackID | the package reference (the job code)                                                                 | =, !=, >, >=, <, <=, LIKE, NOT LIKE, IN, NOT IN, IS NULL, IS NOT NULL |\n| IsModifiable   | flag = 1 if the content of the package can be modified before being inserted to the invoice (else 0) | =, !=, IS NULL, IS NOT NULL                                           |\n| IsOEMPack      | flag = 1 if the package is an OEM defined package (else 0 for local packages)                        | =, !=, IS NULL, IS NOT NULL                                           |\n",
        "operationId": "SearchPackages",
        "parameters": [
          {
            "$ref": "#/components/parameters/dealershipId"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": {
                  "$ref": "#/components/schemas/Package.IWB_SearchCriteria"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Package.IWB_MultiplePacksGetResults"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "security": [
          {
            "api_key": []
          }
        ]
      }
    },
    "/dealerships/{dealershipId}/parts/search": {
      "post": {
        "tags": [
          "Part"
        ],
        "summary": "Search parts from Multi Search Criteria",
        "description": "Search parts from Multi Search Criteria\n\nThe filter can be applied on the following fields\n| Field          | Description                                   | Operator                                                              |\n|----------------|-----------------------------------------------|-----------------------------------------------------------------------|\n| BarCode        | Bar code for the part                         | =, !=, >, >=, <, <=, LIKE, NOT LIKE, IN, NOT IN, IS NULL, IS NOT NULL |\n| InternalPartID | DMS internal part ID                          | =, !=, >, >=, <, <=, LIKE, NOT LIKE, IN, NOT IN, IS NULL, IS NOT NULL |\n| IsObsolete     | logical flag = 1 if the reference is obsolete | =, !=, IS NULL, IS NOT NULL                                           |\n| Supplier       | Supplier data                                 | =, !=, >, >=, <, <=, LIKE, NOT LIKE, IN, NOT IN, IS NULL, IS NOT NULL |\n| SupplierID     | DMS Internal Code for the Parts supplier      | =, !=, >, >=, <, <=, LIKE, NOT LIKE, IN, NOT IN, IS NULL, IS NOT NULL |\n| SupplierRefID  | Supplier parrt reference                      | =, !=, >, >=, <, <=, LIKE, NOT LIKE, IN, NOT IN, IS NULL, IS NOT NULL |\n",
        "operationId": "SearchParts",
        "parameters": [
          {
            "$ref": "#/components/parameters/dealershipId"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": {
                  "$ref": "#/components/schemas/PartsSales.IWB_SearchCriteria"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PartsSales.IWB_MultiplePartsGetResults"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "security": [
          {
            "api_key": []
          }
        ]
      }
    },
    "/dealerships/{dealershipId}/departments/{departmentId}/parts/price-availability": {
      "post": {
        "tags": [
          "Part"
        ],
        "summary": "Search all price and availability for parts",
        "description": "This endpoint is providing for the price and discounts plus the available stock quantity in the queried warehouse.\n\nThe price and discounts are depending on the ***context of the sales***, that has the following multi dimensions:\n- The department via which the sale is concluded\n- The client buying the good\n- The warehouse out of which the parts will be picked\n- The sales channel(client, internal, warranty claim, insurance)\n  - For the warranty claims, the trouble codemay influence the price/discounts\n  - For internal transfer this is the cession code that is taking precedence\n\nThe stock quantity is also given from alternate warehouses andremote warehouses (from other companies sharing data with us)\nebndpoint: `POST /dealerships/{dealershipId}/parts/search`\n",
        "parameters": [
          {
            "$ref": "#/components/parameters/dealershipId"
          },
          {
            "$ref": "#/components/parameters/departmentId"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PartsSales.IWB_PartPriceAndAvailabilityRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PartsSales.IWB_PartPriceAndAvailabilityReturnValue"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "security": [
          {
            "api_key": []
          }
        ]
      }
    },
    "/dealerships/{dealershipId}/parts-orders": {
      "get": {
        "tags": [
          "PartsOrder"
        ],
        "summary": "Retrieve all parts orders filter by criteria",
        "description": "Retrieve all parts orders filter by criteria",
        "operationId": "getPartsOrders",
        "parameters": [
          {
            "$ref": "#/components/parameters/Range"
          },
          {
            "$ref": "#/components/parameters/dealershipId"
          },
          {
            "name": "criteria",
            "in": "query",
            "description": "### Attributes supported\n| Attribute           | Type   | Description                                                                                                     |\n|---------------------|--------|-----------------------------------------------------------------------------------------------------------------|\n| OrderBrandID        | String |                                                                                                                 |\n| OrderCreationDate   | Date   | date the order was generated                                                                                    |\n| OrderNumber         | Number | Order number in the production plant                                                                            |\n| OrderStatusID       | String | 0=draft / 1=sent to supplier / 2 partially delivered / 3 comprehensively delivered / not provided = do not know |\n| OrderSubmissionDate | Date   | can be null if the order is not transmitted yet to the supplier                                                 |\n| StockID             | String | warehouse from which the parts have been taken from                                                             |\n| SupplierID          | String | DMS Internal Code for the Parts supplier                                                                        |\n                                                                        \n### Retrieved by Ids\nIf you search by Ids (InternalOrderID), other criteria are ignored\n``\nids=in:id1,id2,id3\n``\n\n### Main operators supported\n| Operator | Value       |\n|----------|-------------|\n| eq       |  =          |\n| ne       | !=          |\n| gt       | >           |\n| gte      | >=          |\n| lt       | <           |\n| lte      | <=          |\n| like     | LIKE        |\n| notlike  | NOT LIKE    |\n| in       | IN          |\n| notin    | NOT IN      |\n| isnull   | IS NULL     |\n| notnull  | IS NOT NULL |\n",
            "required": true,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "object",
              "additionalProperties": {
                "pattern": "name=operator:value",
                "type": "string"
              },
              "example": {
                "StockID": "eq:732345",
                "OrderNumber": "like:%ZZ5344F%"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PartsOrder.IWB_SparepartOrderResults"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "security": [
          {
            "api_key": []
          }
        ]
      },
      "put": {
        "tags": [
          "PartsOrder"
        ],
        "summary": "Update parts orders",
        "description": "Update parts orders",
        "operationId": "updatePartsOrders",
        "parameters": [
          {
            "$ref": "#/components/parameters/dealershipId"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/BODS.IWB_SparepartOrderClass"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PartsOrder.IWB_PartsOrderSetResults"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "security": [
          {
            "api_key": []
          }
        ]
      },
      "post": {
        "tags": [
          "PartsOrder"
        ],
        "summary": "Create parts orders",
        "description": "Create parts orders",
        "operationId": "createPartsOrders",
        "parameters": [
          {
            "$ref": "#/components/parameters/dealershipId"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/BODS.IWB_SparepartOrderClassWithoutId"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PartsOrder.IWB_PartsOrderSetResults"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "security": [
          {
            "api_key": []
          }
        ]
      }
    },
    "/dealerships/{dealershipId}/repair-orders": {
      "get": {
        "tags": [
          "RepairOrder"
        ],
        "summary": "Retrieve all repair orders filter by criteria",
        "description": "Retrieve all repair orders filter by criteria",
        "operationId": "getRepairOrders",
        "parameters": [
          {
            "$ref": "#/components/parameters/Range"
          },
          {
            "$ref": "#/components/parameters/dealershipId"
          },
          {
            "name": "criteria",
            "in": "query",
            "description": "### Attributes supported\n| Attribute          | Type   | Description                                                               |\n|--------------------|--------|---------------------------------------------------------------------------|\n| AppointmentDate    | Date   | date/time of appointment                                                  |\n| DepartmentID       | String | code of the department (workshop, body repair, shop, quick service, etc.) |\n| DepartmentTypeID   | String | id of the type-of-department                                              |\n| FolderCreationDate | Date   | date of creation of the order in the DMS                                  |\n| FolderNumber       | Number | repair order number, over the counter sales folder, pre-booking number    |\n| InternalClientID   | String | internal client ID (this is the primary key)                              |\n| InternalFolderID   | String | internal Folder ID                                                        |\n| InternalVehID      | String | (for joining with the file in aftersales)                                 |\n| ServiceAdvisorID   | String | receptionist who opened the job                                           |\n| UserID             | String | UserID \"owner\" of the parts sale                                          |\n\n### Main operators supported\n| Operator | Value       |\n|----------|-------------|\n| eq       |  =          |\n| ne       | !=          |\n| gt       | >           |\n| gte      | >=          |\n| lt       | <           |\n| lte      | <=          |\n| like     | LIKE        |\n| notlike  | NOT LIKE    |\n| in       | IN          |\n| notin    | NOT IN      |\n| isnull   | IS NULL     |\n| notnull  | IS NOT NULL |\n",
            "required": true,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "object",
              "additionalProperties": {
                "pattern": "name=operator:value",
                "type": "string"
              },
              "example": {
                "CompanyID": "eq:CompanyA"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RepairOrder.IWB_GetRepairOrderReturnValues"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "security": [
          {
            "api_key": []
          }
        ]
      },
      "post": {
        "tags": [
          "RepairOrder"
        ],
        "summary": "Create repair orders",
        "description": "Create repair orders",
        "operationId": "createRepairOrders",
        "parameters": [
          {
            "$ref": "#/components/parameters/dealershipId"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BODS.IWB_RepairOrderWithoutId"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RepairOrder.IWB_RepairOrderSetResults"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "security": [
          {
            "api_key": []
          }
        ]
      }
    },
    "/dealerships/{dealershipId}/repair-orders/{repairOrderId}": {
      "get": {
        "tags": [
          "RepairOrder"
        ],
        "summary": "Retrieve a repair order by id",
        "description": "Retrieve a repair order by id\n\nThe repair order data contains notably the client data for the client signing the repair order, the vehicle data of the vehicle to repair, and the document data for all documents linked to this repair order.\n\nThe jobs are listed in the document data.\n\nThe client data for the client invoiced is detailed inside the document data (there can be a different client invoiced for each document of a same repair order).\n",
        "operationId": "getRepairOrder",
        "parameters": [
          {
            "$ref": "#/components/parameters/dealershipId"
          },
          {
            "$ref": "#/components/parameters/repairOrderId"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RepairOrder.IWB_GetRepairOrderReturnValues"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "security": [
          {
            "api_key": []
          }
        ]
      },
      "put": {
        "tags": [
          "RepairOrder"
        ],
        "summary": "Update a repair order by id",
        "description": "Update a repair order by id",
        "operationId": "updateRepairOrder",
        "parameters": [
          {
            "$ref": "#/components/parameters/dealershipId"
          },
          {
            "$ref": "#/components/parameters/repairOrderId"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BODS.IWB_RepairOrderWithoutId"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RepairOrder.IWB_RepairOrderSetResults"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "security": [
          {
            "api_key": []
          }
        ]
      }
    },
    "/dealerships/{dealershipId}/standard-codes": {
      "get": {
        "tags": [
          "StandardCode"
        ],
        "summary": "Retrieve all standard codes from list of codes",
        "description": "Retrieve all standard codes from list of codes",
        "operationId": "getStandardCodes",
        "parameters": [
          {
            "$ref": "#/components/parameters/dealershipId"
          },
          {
            "name": "codes",
            "in": "query",
            "description": "list of codes",
            "required": true,
            "style": "form",
            "explode": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BODS.IWB_StandardCodesReturnValues"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "security": [
          {
            "api_key": []
          }
        ]
      }
    },
    "/dealerships/{dealershipId}/suppliers": {
      "get": {
        "tags": [
          "Supplier"
        ],
        "summary": "Retrieve all suppliers from list of supplier IDs",
        "description": "Retrieve all suppliers from list of supplier IDs",
        "operationId": "getSuppliers",
        "parameters": [
          {
            "$ref": "#/components/parameters/Range"
          },
          {
            "$ref": "#/components/parameters/dealershipId"
          },
          {
            "name": "ids",
            "in": "query",
            "description": "list of Supplier IDs",
            "required": true,
            "style": "form",
            "explode": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Client.IWB_SupplierGetResults"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "security": [
          {
            "api_key": []
          }
        ]
      },
      "put": {
        "tags": [
          "Supplier"
        ],
        "summary": "Update suppliers",
        "description": "Update suppliers",
        "operationId": "updateSuppliers",
        "parameters": [
          {
            "$ref": "#/components/parameters/dealershipId"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/BODS.IWB_ClientBaseClass"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Client.IWB_SupplierSetResults"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "security": [
          {
            "api_key": []
          }
        ]
      },
      "post": {
        "tags": [
          "Supplier"
        ],
        "summary": "Create suppliers",
        "description": "Create suppliers",
        "operationId": "createSuppliers",
        "parameters": [
          {
            "$ref": "#/components/parameters/dealershipId"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/BODS.IWB_ClientBaseClassWithoutId"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Client.IWB_SupplierSetResults"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "security": [
          {
            "api_key": []
          }
        ]
      }
    },
    "/dealerships/{dealershipId}/used-cars": {
      "get": {
        "tags": [
          "UsedCar"
        ],
        "summary": "Retrieve all used cars filter by criteria",
        "description": "Retrieve all used cars filter by criteria\n\nThe content of the result can be impacted based on the Details Parameter. Below are the possible values for the Details Field\n| Detail         | Description                        |\n|----------------|------------------------------------|\n| CompDates      | complementary dates                |\n| ComplementData | complementary data                 |\n| Equipments     | standard equipment of the used-car |\n| Options        | list of additional options         |\n| Vehicle        | the definition of the used-car     |\n| Warehouse      | the warehouse the vehicle is in    |\n",
        "operationId": "getUsedCars",
        "parameters": [
          {
            "$ref": "#/components/parameters/Range"
          },
          {
            "$ref": "#/components/parameters/dealershipId"
          },
          {
            "name": "criteria",
            "in": "query",
            "description": "### Attributes supported            \n| Attribute         | Type   | Description                                                                                                               | Example           |\n|-------------------|--------|---------------------------------------------------------------------------------------------------------------------------|-------------------|\n| BrandDescr        | String | Description of the brand in plain text                                                                                    | RENAULT           |\n| BrandID           | String | id of the brand the spare part is ordered for                                                                             | RE                |            \n| InternalUsedCarID | String | Internal ID of the used car (primary key)                                                                                 | 100004            |\n| PoliceBookNr      | String | Number associated to the used-car in the police book (french specific)                                                    | 5002              |\n| RegistrationNr    | String | Registration number of the vehicle (can be different from the one in the aftersales file if the vehicle is re-registered) | 34-FG-12          |\n| StockID           | String | warehouse from which the parts have been taken from                                                                       | 156               |\n| VehicleStatusID   | String | Id of the administrative status of the vehicle                                                                            | 3                 |\n| VIN               | String | Vehicle Identification Number                                                                                             | VF1112800C0235406 |\n\n### Retrieved by Ids\nIf you search by Ids (InternalUsedCarID), other criteria are ignored\n``\nids=in:id1,id2,id3\n``\n\n### Main operators supported\n| Operator | Value       |\n|----------|-------------|\n| eq       |  =          |\n| ne       | !=          |\n| gt       | >           |\n| gte      | >=          |\n| lt       | <           |\n| lte      | <=          |\n| like     | LIKE        |\n| notlike  | NOT LIKE    |\n| in       | IN          |\n| notin    | NOT IN      |\n| isnull   | IS NULL     |\n| notnull  | IS NOT NULL |\n",
            "required": true,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "object",
              "additionalProperties": {
                "pattern": "name=operator:value",
                "type": "string"
              },
              "example": {
                "BrandID": "eq:RE"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UsedCarStock.IWB_GetUsedCarReturnValues"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "security": [
          {
            "api_key": []
          }
        ]
      },
      "put": {
        "tags": [
          "UsedCar"
        ],
        "summary": "Update used cars",
        "description": "Update used cars\n\nIt is not possible creating a used car \"in stock\" for it would require the creation of administrative documents \"on the fly\". A vehicle can be updated only with a status of0-draftor1-in-stock.\n",
        "operationId": "updateUsedCars",
        "parameters": [
          {
            "$ref": "#/components/parameters/dealershipId"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/UsedCarStock.IWB_UsedCarStock"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UsedCarStock.IWB_UsedCarSetResults"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "security": [
          {
            "api_key": []
          }
        ]
      },
      "post": {
        "tags": [
          "UsedCar"
        ],
        "summary": "Create used cars",
        "description": "Create used cars\n\nIt is not possible creating a used car \"in stock\" for it would require the creation of administrative documents \"on the fly\".\n",
        "operationId": "createUsedCars",
        "parameters": [
          {
            "$ref": "#/components/parameters/dealershipId"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/UsedCarStock.IWB_UsedCarStockWithoutId"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UsedCarStock.IWB_UsedCarSetResults"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "security": [
          {
            "api_key": []
          }
        ]
      }
    },
    "/dealerships/{dealershipId}/vehicles": {
      "get": {
        "tags": [
          "Vehicle"
        ],
        "summary": "Retrieve all vehicles filter by criteria",
        "description": "Retrieve all vehicles filter by criteria",
        "operationId": "getVehicles",
        "parameters": [
          {
            "$ref": "#/components/parameters/Range"
          },
          {
            "$ref": "#/components/parameters/dealershipId"
          },
          {
            "name": "criteria",
            "in": "query",
            "description": "### Attributes supported\n| Attribute          | Type   | Example                |\n|--------------------|--------|------------------------|\n| BrandID            | String | RE                     |\n| ClientDriverID     | String | 42334                  |\n| ClientLeaseID      | String | 63543                  |\n| ClientOwnerID      | String | 623423                 |\n| InternalVehID      | String | 1309                   |\n| LastUpdateDate     | Date   | 2023-06-01T11:47:04.02 |\n| LastUpdateDate     | Date   | 2023-06-01T11:47:04.02 |\n| LastWorkshopVisit  | Date   | 2023-06-01T11:47:04.02 | \n| MileageValue       | Number | 42367                  |\n| RegistrationNumber | String | 34-FG-12               |\n| VIN                | String | VF1112800C0235406      |           \n\n### Retrieved by Ids\nIf you search by Ids (InternalVehID), other criteria are ignored\n``\nids=in:id1,id2,id3\n``\n\n### Main operators supported\n| Operator | Value       |\n|----------|-------------|\n| eq       |  =          |\n| ne       | !=          |\n| gt       | >           |\n| gte      | >=          |\n| lt       | <           |\n| lte      | <=          |\n| like     | LIKE        |\n| notlike  | NOT LIKE    |\n| in       | IN          |\n| notin    | NOT IN      |\n| isnull   | IS NULL     |\n| notnull  | IS NOT NULL |\n",
            "required": true,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "object",
              "additionalProperties": {
                "pattern": "name=operator:value",
                "type": "string"
              },
              "example": {
                "BrandID": "eq:RE",
                "VIN": "like:%VFR%"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Client.IWB_VehicleGetResults"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "security": [
          {
            "api_key": []
          }
        ]
      }
    },
    "/dealerships/{dealershipId}/clients/{clientId}/vehicles": {
      "get": {
        "tags": [
          "Vehicle"
        ],
        "summary": "Retrieve all vehicles for a client filter by criteria",
        "description": "Retrieve all vehicles for a client filter by criteria",
        "operationId": "getVehiclesByClient",
        "parameters": [
          {
            "$ref": "#/components/parameters/Range"
          },
          {
            "$ref": "#/components/parameters/dealershipId"
          },
          {
            "$ref": "#/components/parameters/clientId"
          },
          {
            "name": "criteria",
            "in": "query",
            "description": "### Attributes supported\n| Attribute          | Type   | Example                |\n|--------------------|--------|------------------------|\n| BrandID            | String | RE                     |\n| ClientDriverID     | String | 42334                  |\n| ClientLeaseID      | String | 63543                  |\n| ClientOwnerID      | String | 623423                 |\n| InternalVehID      | String | 1309                   |\n| LastUpdateDate     | Date   | 2023-06-01T11:47:04.02 |\n| LastUpdateDate     | Date   | 2023-06-01T11:47:04.02 |\n| LastWorkshopVisit  | Date   | 2023-06-01T11:47:04.02 | \n| MileageValue       | Number | 42367                  |\n| RegistrationNumber | String | 34-FG-12               |\n| VIN                | String | VF1112800C0235406      |          \n\n### Main operators supported\n| Operator | Value       |\n|----------|-------------|\n| eq       |  =          |\n| ne       | !=          |\n| gt       | >           |\n| gte      | >=          |\n| lt       | <           |\n| lte      | <=          |\n| like     | LIKE        |\n| notlike  | NOT LIKE    |\n| in       | IN          |\n| notin    | NOT IN      |\n| isnull   | IS NULL     |\n| notnull  | IS NOT NULL |\n",
            "required": true,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "object",
              "additionalProperties": {
                "pattern": "name=operator:value",
                "type": "string"
              },
              "example": {
                "BrandID": "eq:RE",
                "VIN": "like:%VFR%"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Client.IWB_VehicleGetResults"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "security": [
          {
            "api_key": []
          }
        ]
      },
      "put": {
        "tags": [
          "Vehicle"
        ],
        "summary": "Update vehicles",
        "description": "Update vehicles",
        "operationId": "updateVehicles",
        "parameters": [
          {
            "$ref": "#/components/parameters/dealershipId"
          },
          {
            "$ref": "#/components/parameters/clientId"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/BODS.IWB_VehicleBaseClass"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Client.IWB_VehicleSetResults"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "security": [
          {
            "api_key": []
          }
        ]
      },
      "post": {
        "tags": [
          "Vehicle"
        ],
        "summary": "Create vehicles",
        "description": "Create vehicles",
        "operationId": "createVehicles",
        "parameters": [
          {
            "$ref": "#/components/parameters/dealershipId"
          },
          {
            "$ref": "#/components/parameters/clientId"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/BODS.IWB_VehicleBaseClass"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Client.IWB_VehicleSetResults"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "security": [
          {
            "api_key": []
          }
        ]
      }
    },
    "/dealerships/{dealershipId}/vehicle-catalogs": {
      "get": {
        "tags": [
          "VehicleCatalog"
        ],
        "summary": "Retrieve all catalogs filter by brandId and modelId",
        "description": "Retrieve all catalogs filter by brandId and modelId\n\nOnly one model can retrieve at a time with this method.\n- The color, trim and option explicitly linked with this model in the DMS are available in the result.\n- Both modelID and brandID are passed as parameters.\n- The brand ID is mandatory. Retrieve it using GetStandardCodes first, with \"CodeTypeID\": \"VEHBRAND\"\n",
        "operationId": "geVehicleCatalogs",
        "parameters": [
          {
            "$ref": "#/components/parameters/dealershipId"
          },
          {
            "$ref": "#/components/parameters/brandId"
          },
          {
            "$ref": "#/components/parameters/modelId"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VehicleCatalog.IWB_VehicleCatalogGetResult"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "security": [
          {
            "api_key": []
          }
        ]
      },
      "put": {
        "tags": [
          "VehicleCatalog"
        ],
        "summary": "Update vehicle catalogs",
        "description": "Update vehicle catalogs",
        "operationId": "updateVehicleCatalogs",
        "parameters": [
          {
            "$ref": "#/components/parameters/dealershipId"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/BODS.IWB_VehicleCatalogBaseClass"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VehicleCatalog.IWB_VehicleCatalogSetResult"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "security": [
          {
            "api_key": []
          }
        ]
      },
      "post": {
        "tags": [
          "VehicleCatalog"
        ],
        "summary": "Create vehicle catalogs",
        "description": "Create vehicle catalogs\n\nThere is no creation of the brand ID with this endpoint. It has to be an existing brand in the DMS.\n\nTo retrieve the brand ID, use the method GetStandardCodes with \"CodeTypeID\": \"VEHBRAND\"\n",
        "operationId": "createVehicleCatalogs",
        "parameters": [
          {
            "$ref": "#/components/parameters/dealershipId"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/BODS.IWB_VehicleCatalogBaseClass"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VehicleCatalog.IWB_VehicleCatalogSetResult"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "security": [
          {
            "api_key": []
          }
        ]
      }
    },
    "/dealerships/{dealershipId}/vehicle-orders/{vehicleOrderId}": {
      "get": {
        "tags": [
          "VehicleOrder"
        ],
        "summary": "Get a vehicle order",
        "description": "Get a vehicle order",
        "operationId": "getVehicleOrder",
        "parameters": [
          {
            "$ref": "#/components/parameters/dealershipId"
          },
          {
            "$ref": "#/components/parameters/vehicleOrderId"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VehicleOrder.IWB_VehicleOrderGetResult"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "security": [
          {
            "api_key": []
          }
        ]
      }
    },
    "/dealerships/{dealershipId}/workshop-appointments": {
      "get": {
        "tags": [
          "WorkshopAppointment"
        ],
        "summary": "Retrieve all workshop appointments filter by criteria",
        "description": "Retrieve all workshop appointments filter by criteria",
        "operationId": "getWorkshopAppointments",
        "parameters": [
          {
            "$ref": "#/components/parameters/Range"
          },
          {
            "$ref": "#/components/parameters/dealershipId"
          },
          {
            "name": "criteria",
            "in": "query",
            "description": "### Attributes supported\n| Attribute             | Type   | Description                                                               |\n|-----------------------|--------|---------------------------------------------------------------------------|\n| AppointmentDate       | Date   | date/time of appointment                                                  |\n| BrandID               | String | id of the brand the spare part is ordered for                             |\n| DepartmentID          | String | code of the department (workshop, body repair, shop, quick service, etc.) |\n| FirstRegistrationDate | Date   |                                                                           |\n| InternalClientID      | String | internal client ID (this is the primary key)                              |\n| InternalVehID         | String | (for joining with the file in aftersales)                                 |\n| LastUpdateDate        | Date   | date of last update of used-car data                                      |\n| VIN                   | String | Vehicle Identification Number                                             |\n\n### Retrieved by Ids\nIf you search by Ids (InternalAppointmentID), other criteria are ignored\n``\nids=in:id1,id2,id3\n``\n\n### Main operators supported\n| Operator | Value       |\n|----------|-------------|\n| eq       |  =          |\n| ne       | !=          |\n| gt       | >           |\n| gte      | >=          |\n| lt       | <           |\n| lte      | <=          |\n| like     | LIKE        |\n| notlike  | NOT LIKE    |\n| in       | IN          |\n| notin    | NOT IN      |\n| isnull   | IS NULL     |\n| notnull  | IS NOT NULL |\n",
            "required": true,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "object",
              "additionalProperties": {
                "pattern": "name=operator:value",
                "type": "string"
              },
              "example": {
                "InternalClientID": "eq:4224232",
                "InsuranceName": "like:%ASSU%"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WorkshopAppointment.IWB_GetWorkshopApptReturnValue"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "security": [
          {
            "api_key": []
          }
        ]
      },
      "put": {
        "tags": [
          "WorkshopAppointment"
        ],
        "summary": "Update workshop appointments",
        "description": "Update workshop appointments",
        "operationId": "updateWorkshopAppointments",
        "parameters": [
          {
            "$ref": "#/components/parameters/dealershipId"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/BODS.IWB_WorkshopAppointmentBaseClass"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WorkshopAppointment.IWB_WorkshopApptSetResults"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "security": [
          {
            "api_key": []
          }
        ]
      },
      "post": {
        "tags": [
          "WorkshopAppointment"
        ],
        "summary": "Create workshop appointments",
        "description": "Create workshop appointments\n\nOnly the ***clientID*** and ***vehicleID*** are necessary if already known in the DMS, else the call must switch the boolean ***isPasserBy*** to true and fill in the portion of data for the client and his vehicle.\n\n*Note*: the call to the endpoint does not allow creating a new client and/or a new vehicle \"on the fly\".\n\nThe creation must be made prior setting an appointment calling the appropriate endpoint and filling in the needed attributes.\n\nWhen the appointment is attached to a repair order (***RepairOrderID*** is not null anymore = the client has arrived) it is no longer possible modifying it.\n\nThe management of the maximum number of appointments per day and the maximum workload for the department planner is not ensured as well as maximum tasks alloted to receptionists or mechanics.\n",
        "operationId": "createWorkshopAppointments",
        "parameters": [
          {
            "$ref": "#/components/parameters/dealershipId"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/BODS.IWB_WorkshopAppointmentBaseClass"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WorkshopAppointment.IWB_WorkshopApptSetResults"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "security": [
          {
            "api_key": []
          }
        ]
      }
    },
    "/dealerships/{dealershipId}/workshop-appointments/{workshopAppointmentId}": {
      "delete": {
        "tags": [
          "WorkshopAppointment"
        ],
        "summary": "Delete a workshop appointment",
        "description": "Delete a workshop appointment\n\nOnly \"draft\" appointments can be deleted, i.e. as long as not connected to a repair order\n",
        "operationId": "deleteWorkshopAppointment",
        "parameters": [
          {
            "$ref": "#/components/parameters/dealershipId"
          },
          {
            "$ref": "#/components/parameters/workshopAppointmentId"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WorkshopAppointment.IWB_WorkshopApptSetResults"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "security": [
          {
            "api_key": []
          }
        ]
      }
    },
    "/dealerships/{dealershipId}/sites/{siteId}/workshop-plannings": {
      "get": {
        "tags": [
          "WorkshopPlanning"
        ],
        "summary": "Retrieve all workshop plannings filter by dates",
        "description": "Retrieve all workshop plannings filter by dates",
        "operationId": "getWorkshopPlannings",
        "parameters": [
          {
            "$ref": "#/components/parameters/dealershipId"
          },
          {
            "$ref": "#/components/parameters/siteId"
          },
          {
            "$ref": "#/components/parameters/startDate"
          },
          {
            "$ref": "#/components/parameters/endDate"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WorkshopAppointment.IWB_GetWorkshopPlanningReturnValues"
[...]
